input[type=checkbox]
{
    display: block;
}

ul{
    display: none;
}

.folder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    border: 2px solid black;
}